@import "./index.css";

#root {
  @apply relative z-20 mx-auto my-0 max-w-7xl px-8 py-14 text-center;
}

#persona {
  @apply mx-auto max-w-sm text-center lg:w-1/3 lg:max-w-full lg:flex-none;
}

.almanacPortrait {
  @apply mx-auto max-w-[300px];
}

#socialIcons,
#copyLinks {
  /* @apply flex flex-row flex-wrap justify-center mb-8; */
  @apply mb-2 flex flex-row flex-wrap justify-center;
}

#copyLinks {
  @apply mb-0;
}

#socialIcons a {
  @apply m-3 text-3xl text-(--color-koscii7) transition ease-in-out hover:scale-150 hover:cursor-pointer;

  /* &:before {
    @apply text-black;
  } */
}

.galleryDisplay {
  /* @apply my-4; */
  @apply my-4 break-inside-avoid;
}

.galleryDisplay .imgContainer {
  /* @apply my-2; */
  @apply my-2 overflow-hidden rounded-lg;
}

.galleryDisplay .imgContainer img {
  max-height: 80svh;

  @apply mx-auto;
}

.galleryDisplay a:not(.btn) {
  @apply text-secondary transition ease-in-out hover:scale-110;
}

#modal_calendar iframe {
  @apply h-full min-h-[65dvh] w-full rounded-xl md:min-h-[75dvh];
}

/* .menuButton {
  @apply btn btn-secondary btn-outline m-2;
  @apply transition-all ease-in-out hover:scale-110;
} */
