@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-caveat: "Caveat", sans-serif;
  --font-jetbrainsMono: "JetBrains Mono", monospace;
  --font-shantellSans: "Shantell Sans", sans-serif;
}

[data-theme="light"] {
  --color-primary: #89623d;
  --color-primary-content: #f3f0dc;
  --color-secondary: #e38d37;
  --color-accent: #00a879;
  --color-accent-content: #f3f0dc;
  --color-neutral: #f3f0dc;
}

@tailwind utilities;

:root {
  /* Oscillo Colors */
  --color-oscii1: #dca978;
  --color-oscii2: #f3f0dc;
  --color-oscii3: #89623d;
  --color-oscii4: #00a879;
  --color-oscii5: #ffe002;
  --color-oscii6: #e38d37;
  --color-oscii7: #1b603d;
  --color-oscii8: #063a20;

  /* Kid Oscillo Colors */
  --color-koscii1: #a7886b;
  --color-koscii2: #fff4e3;
  --color-koscii3: #59a482;
  --color-koscii4: #fb9e00;
  --color-koscii5: #ffe002;
  --color-koscii6: #e38d37;
  --color-koscii7: #733229;
  --color-koscii8: #ac4a3d;

  /* Teen Oscii Colors */
  --color-toscii1: #dca979;
  --color-toscii2: #a7886b;
  --color-toscii3: #fdf2e1;
  --color-toscii4: #5ba582;
  --color-toscii5: #e48c36;
  --color-toscii6: #fce105;

  /* SnowTrap Colors */
  --color-snowtrap1: #d1fffe;
  --color-snowtrap2: #6fe6fa;
  --color-snowtrap3: #62d463;
  --color-snowtrap4: #ff9a50;
  --color-snowtrap5: #ffeea6;
  --color-snowtrap6: #ff6b26;
  --color-snowtrap7: #03147c;

  /* Milo Colors */
  --color-milo01: #ff4f2e;
  --color-milo02: #e82b16;
  --color-milo03: #fff152;
  --color-milo04: #ffb234;
  --color-milo05: #1a1a1a;
  --color-milo06: #cfcfcf;
  --color-milo07: #ff8d40;
  --color-milo08: #ffb946;
  --color-milo09: #33ff59;
  --color-milo10: #00d740;
}

body {
  @apply bg-[url('/images/wallpaper.webp')] bg-[length:800px] font-shantellSans text-black m-0 min-w-[320px] min-h-[100svh] relative;
}

body:before {
  content: " ";

  @apply bg-white/80 min-w-[100svw] min-h-[100svh] h-full w-full absolute z-10;
}

main {
  @apply bg-white/75 rounded-3xl border border-dotted border-primary p-4;
}

h1,
h2,
h3 {
  @apply mb-4;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-xl;
}

hr {
  @apply my-4 mx-auto border-[#e5e7eb];
}

p {
  @apply my-4;
}

a,
button {
  &.btn {
    @apply py-6 rounded-xl;
  }

  &.tooltip {
    &::before {
      @apply text-black;
    }
  }
}

kbd {
  @apply font-jetbrainsMono font-light;
}

footer {
  @apply font-jetbrainsMono font-extralight my-8;
}

footer a {
  @apply text-primary hover:font-semibold;
}

.modal-box::webkit-scrollbar {
  /* display: none; */
  @apply hidden;
}

.modal-box {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
